.card__frame {
  width: 100%;
  border-radius: 6px;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.08);
  background-color: #FDFDFD;
  align-items: center;
  overflow: hidden;
  /* height: 0;
  padding-bottom: 100%;
  position: relative; */
}

.card__image {
  display: block;
  min-width:100%;
  max-height:100%;
  /* position: absolute; */
}

.card__caption {
  margin: 8px 14px 14px;
  display: flex;
  justify-content: space-between;
}

.card__title {
  max-width: 260px;
  margin: 6px 0 0;
  font-weight: 500;
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__duration {
  margin: 15px 0 0;
  font-weight: 400;
  font-size: 11px;
  line-height: 13px;
  color: #A0A0A0;
}

.card__like-button {
  width: 30px;
  height: 30px;
  background-image: url(../../images/like.svg);
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  border: none;
  box-sizing: border-box;
  background-color: #FDFDFD;
  transition: opacity 0.1s;
  flex-shrink: 0;
  cursor: pointer;
}

.card__like-button_active {
  background-image: url(../../images/like_active.svg);
}

.card__like-button:hover {
  opacity: 0.5;
}

@media screen and (min-width: 700px) and (max-width: 767px) {
  .card__title {
    max-width: 230px;
  }
}

@media screen and (min-width: 590px) and (max-width: 699px) {
  .card__title {
    max-width: 200px;
  }
}

@media screen and (min-width: 500px) and (max-width: 589px) {
  .card__title {
    max-width: 240px;
  }
}

@media screen and (max-width: 499px) {
  .card__caption {
    margin-top: 7px;
  }

  .card__title {
    max-width: 240px;
    margin: 7px 0 0;
    font-size: 12px;
    line-height: 15px;
  }

  .card__duration {
    margin: 14px 0 0;
    font-size: 10px;
    line-height: 12px;
  }
}
