.header {
  margin: 0 auto;
  width: 100%;
  max-width: 1140px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin: 0;
  padding-right: calc(100px - 38px);
  width: 38px;
  height: 38px;
}

.header__logo_logged-in {
  margin: 15px 0;
  padding: 3px 0;
}

.header__auth {
  display: flex;
  align-items: center;
}

.header__register-link {
  margin-right: 30px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #000000;
  text-decoration: none;
  transition: opacity 0.1s;
}

.header__register-link:hover {
  opacity: 0.5;
}

.header__signin-link {
  padding: 8px 20px;
  background-color: #2BE080;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  align-items: center;
  color: #000000;
  text-decoration: none;
  transition: opacity 0.1s;
}

.header__signin-link:hover {
  opacity: 0.5;
}

.header__navigation {
  padding-left: calc(100px - 38px);
}

.header__navigation-link {
  padding-right: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-align: right;
  color: #000000;
  text-decoration: none;
  transition: opacity 0.1s;
}

.header__navigation-link:last-child {
  padding-right: 0;
}

.header__navigation-link:hover {
  opacity: 0.5;
}

.header__navigation-link_active {
  font-weight: 500;
}

.header__profile-link-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: opacity 0.1s;
}

.header__profile-link-wrapper:hover {
  opacity: 0.5;
}

.header__profile-link {
  padding-right: 17px;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
  text-decoration: none;
}

.header__profile-icon {
  width: 26px;
  height: 30px;
  background-image: url(../../images/profile_icon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-color: #F9F9F9;
  border-radius: 4px;
  flex-shrink: 0;
}

.header__burger-icon {
  margin: 0;
  width: 44px;
  height: 44px;

}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .header_logged-in {
    width: calc(100% - 2*70px);
  }
}

@media screen and (min-width: 500px) and (max-width: 1023px) {
  .header_logged-in {
    width: calc(100% - 2*30px);
  }
}

@media screen and (max-width: 499px) {
  .header {
    justify-content: center;
  }

  .header__logo {
    padding-right: 0;

  }

  .header_logged-in {
    width: calc(100% - 2*14px);
    justify-content: space-between;
  }

  .header__register-link {
    margin-right: 14px;
    font-size: 10px;
  }

  .header__signin-link {
    padding: 5px 12px;
    font-size: 10px;
  }

  .header__burger-icon {
    margin: 0;
    width: 40px;
  }
}